.topnav {
      background-color: rgb(3, 22, 85);
      padding: 20px;
      text-align : center;
      display: flex;
      justify-content: space-around;
    }
    .topnavbtn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #053ea8;
      color: rgb(255, 255, 255);
      text-decoration: none;
      border-radius: 8px;
      font-family: Arial, sans-serif;  
    }
    .topnavbtn:hover {
        background-color: #164caf;
    }
    .rouletteresult {
      font-family: 'Times New Roman', Times, serif;
      font-size: 15;
    }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #413eea;
      color: white;
      text-decoration: none;
      border-radius: 8px;
      font-family: Arial, sans-serif;
    }
    .btn:hover {
      background-color: #3b399f;
    }

    .bet-buttons {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            margin: 15px 0;
        }

    .bet-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #5b59d6;
      color: white;
      text-decoration: none;
      border-radius: 8px;
      font-family: Arial, sans-serif;
      border : none;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .bet-button:hover {
      background: #0a33eb;
      transform: scale(1.05);
    }
    /*
    NOT WORKING YET : ADD JavaScript to make it work
    .bet-button:selected {       
      background: #86e7ff;
      color: #333;
    }
    */

    .content {
      max-width: 50%;
      margin-top: 10em;
      margin-left: 25%;
      color : whitesmoke
    }
    html {
        height: 100%;
        width: 100%;
    }
    body {
        margin: 0; 
        background-image: linear-gradient(315deg, #000 0%,#000B18 35%, #00172D 65%, #00264D 90%);
        background-repeat: no-repeat;
    }

    
    
