<!DOCTYPE html>
<html lang="fr">  
<head>
  <meta charset="UTF-8">
  <title>Gambling-Game | Balance</title>
  <link rel="stylesheet" href="static\CSS\style.css">

  <div class="topnav">
    <a class="topnavbtn" href="home">Home</a>
    <a class="topnavbtn" href="Balance">Balance</a>
    <a class="topnavbtn" href="Roulette">Roulette</a>
    <a class="topnavbtn" href="Others">Others</a>
  </div>

</head>
<body>
  <div class="content">
    <h1>Player Balance :</h1>
    <p class = 'balance' margin: inherit+1em 2em 2em;>{{ balance }} Chips</p>
    <p>You are poor</p>
  </div>
</body>
</html>