<!DOCTYPE html>
<html lang="fr">  
<head>
  <meta charset="UTF-8">
  <title>Gambling-Game | Others </title>
  <link rel="stylesheet" href="static\CSS\style.css">
</head>
<body>

  <div class="topnav">
    <a class="topnavbtn" href="home">Home</a>
    <a class="topnavbtn" href="Balance">Balance</a>
    <a class="topnavbtn" href="Roulette">Roulette</a>
    <a class="topnavbtn" href="Others">Others</a>
    <a class="topnavbtn" href="Daily">Daily</a>
  </div>

  <div class="content">
    <h1>Other Games are coming soon !</h1>
    <p>Please be patient !</p>
    <p>GitHub :</p>
    <a href="https://github.com/RandomCodeEnthusiast/Gambling-Game" target="_blank" class="btn">GitHub Link</a>
  </div>
</body>
</html>