<!DOCTYPE html>
<html lang="fr">  
<head>
  <meta charset="UTF-8">
  <title>Gambling-Game | Roulette</title>
  <link rel="stylesheet" href="static\CSS\style.css">

  <div class="topnav">
    <a class="topnavbtn" href="home">Home</a>
    <a class="topnavbtn" href="Balance">Balance</a>
    <a class="topnavbtn" href="Roulette">Roulette</a>
    <a class="topnavbtn" href="Others">Others</a>
  </div>

</head>
<body>
  <div class="content">
    <h1>Roulette Result :</h1>
    {% if %}
    <div class= "rouletteresult">
      <p>Number : {{ Number }}</p>
      <p>Color : {{ Color }}</p>
    </div>  
    <p>GoodLuck</p>
  </div>
</body>
</html>